*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 30px;
}

button {
    background-color: #1DB954;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #13853f;
    color: #fff;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul li a:hover{
    color: rgb(59, 189, 117);
}

.navbar_content{
    background-color: black;
    color: aliceblue;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
    display:flex;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: top;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}