body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    border-radius: 10px;
    animation: colorChange 5s infinite;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    color: white;
    background: #3498db;
    /* background: linear-gradient(to bottom, #0a0a0a, #5b5b5b); */
    background: linear-gradient(to bottom, #000000, #030303 50%, #2a4a26 75%);
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
.column {
    width: 100%;
    display: block;
}
}


nav{
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

nav ul li a:hover{
    color: rgb(59, 189, 117);
}

.navbar_content{
    background-color: black;
    color: aliceblue;
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

nav ul li{
    padding: 0 12px;
    display:flex;
}
.brand img{
    width: 60px;
    padding: 0 8px;
}

.brand {
    display: top;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.card {
    position: relative;
    height: 600px; /* Set your fixed height here */
    overflow: hidden;
}

.card img {
    width: 65%;
    height: 65%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

::selection{
    background-color: rgb(35, 148, 110);
    color: aquamarine;
}